@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --textColor: black;
  --darkmode-position-left: 1px;
  --darkmode-color: #2e353f;
  --darkmode-border: 2px solid #2e353f;
}

[class='dark'] {
  --background: white;
  --textColor: black;
  --darkmode-position-left: 25.5px;
  --darkmode-color: #f7ee02;
  --darkmode-border: 2px solid white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uwuloscopio {
  padding: 7px !important;
  margin-top: 7px !important;
}